<div id="wrapper">

    <!-- Navigation -->

    <div ng-include="'scripts/directives/header/header.html'"></div>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">

            <ul class="nav in" id="side-menu">
                <li ui-sref-active="active">
                    <h1 class="m-l">Pages</h1>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="pages.blank"> Blank</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.form">Profile</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.form">Setting</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="signin">Sign In</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.form">Sign Up</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.form">Forget Password</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.form">Lockme Screen</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.form">Error 404</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.form">Error 505</a>
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>

    <!-- /.navbar-static-side -->

    <div id="page-wrapper" style="min-height: 561px;">

        <div ui-view></div>

    </div>
    <!-- /#page-wrapper -->
</div>
